<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
  
  <!--  Your Progressive Web App   -->
    
    <!--  Nav Bar   -->
 <main class="container">
    {%include "nav.html" %}
           </main>


              
  {% include "includes/scripts.html" %} 

  </body>
</html> 