<!DOCTYPE html>
<html>
  <head>
    
   {% include "includes/head.html" %} 
    
  </head>
  <body>
    
    
  

    

  <main class="container">
    {% include "navbar.html" %}
           </main>

  </main> 
      {% include "includes/scripts.html" %} 

  </body>
</html>